<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>豆瓣</title>
  <link rel="Shortcut Icon" href="/images/doubanlogo.jpg" />
  <link rel="stylesheet" type="text/css" href="/css/douban.css">
  <script type="text/javascript" rel="stylesheet" src="/js/jquery-1.12.2.js"></script>
  <script type="text/javascript" rel="stylesheet" src="/js/douban.js"></script>
 </head>
 <body>
  <div class="all">
   <div class="all-header">
    <div class="all-header-top">
     <div class="all-header-top-right">
      <a href=""><img id="logo" src="/images/title.png"></a>
      <div class="search">
       <form>
        <input type="text" placeholder="书籍、电影、音乐、小组、小站、成员">
        <span id="pic"></span>
       </form>
      </div>
     </div>
     <div class="all-header-top-left">
      <ul>
       <li><a href="" style="color:#584029">读书</a></li>
       <li><a href="" style="color:#278DCE">电影</a></li>
       <li><a href="" style="color:#F37F00">音乐</a></li>
       <li><a href="" style="color:#0F959D">小组</a></li>
       <li><a href="" style="color:#E85205">同城</a></li>
       <li><a href="" style="color:#9BD6C5">FM</a></li>
       <li><a href="" style="color:#DB5140">東西</a></li>
       <li><a href="" style="color:#529200">市集</a></li>
      </ul>
     </div>
    </div>
    <div class="all-header-footer">
    <div class="word">
     <h1>豆瓣 4.0</h1>
     <p>我 们 的 精 神 角 落</p>
     <a href="">下载豆瓣 App</a>
     <div class="download">
      <img src="/images/erweima.jpg">
      <div class="box1">
       <img src="/images/bigerweima.png">
       <span>iOS / Android 扫码直接下载</span>
      </div>
     </div>
    </div>
    <div class="land">
     <form class="loginForm" method="post" action="/judgeLogin">
      <input name="username" type="text" placeholder="邮箱/手机号/名号">
      <img class="usernameTip" src="">
      <input id="password" name="password" type="password" placeholder="密码">
      <a href="">帮助</a>
      <input id="code" type="text" name="code" placeholder="验证码">
      <span class="number"><%= random %></span>
      <img class="codeTip" src="">
      
     </form>
     
     <div>
      <a id="login" href="/loginPage">登陆豆瓣</a>
      <a id="signup" href="/getregister">注册账号</a>
     </div>
     <div class="reme">
      <input id="check" type="checkbox" name="check"><label for="check"> 记住我</label>
      <!-- <button></button>
      <span>记住我</span> -->
     </div>
     <div class="share">
      <a href="" title="微信登陆"><img src="/images/bhtn.png" /></a>
      <a href="" title="微博登陆"><img src="/images/grseb.png" /></a>
     </div>
    </div>
    </div>
   </div>
   <div class="all-content">
    <div class="ad">
     <a href=""><img src="/images/16cb92f816ec454.jpg" /></a>
    </div>
    <div class="content1">
     <div class="titleleft">
      <span class="title1">热点内容……</span>
      <span class="more">(<a href="">更多</a>)</span>
     </div>
     <div class="main">
      <div class="main-body">
       <ul>
        <li>
         <a href="/detailArticle">从22岁到34岁，我能告诉你孤独最可怕的样子</a><br>
         <span id="lib">新世相的日记</span><br> 
         <span>Sayings: 每当在城市里谈到孤独，人们总喜欢谈论孤独的美妙，把它当成一种伤感的装...</span>
        </li>
        <li><a href="">2017手帐安排丨用九本笔记过好一年</a></li>
        <li><a href="">干货| 新年换发型，这样剪Wob头你会比别人好看一点点</a></li>
        <li><a href="">下铺</a></li>
        <li><a href="">2016碎语集</a></li>
        <li><a href="">中国式出轨</a></li>
        <li><a href="">2016年逝去的这些音乐人与中国：东西方流行音乐的碰撞</a></li>
        <li><a href="">关于唱片几个你可能不知道的事实</a></li>
        <li><a href="">#我爱体验app#发现一个模拟暗房的摄影App -Darkr</a></li>
        <li><a href="">在Heyri艺术村，遇到一点田园牧歌式的理想</a></li>
       </ul>
      </div>
     </div>
     <div class="left">
      <div class="one">
       <div class="picview">
        <a href=""><img src="/images/p2404784986.jpg" /></a><br>
        <span><a href="">白桦之域</a> 264张照片</span>
       </div>
       <div class="picview">
        <a href=""><img src="/images/p2408258136.jpg" /></a><br>
        <span><a href="">当我拍照时我在想什么</a> 25张照片</span>
       </div>
      </div>
      <div class="one">
       <div class="picview">
        <a href=""><img src="/images/p2410086537.jpg" /></a><br>
        <span><a href="">梦里花落知多少</a> 300张照片</span>
       </div>
       <div class="picview">
        <a href=""><img src="/images/p2177162986.jpg" /></a><br>
        <span><a href="">小胖子</a> 5张照片</span>
       </div>
      </div>
     </div>
     <div class="right">
      <img src="/images/file-1431585796.jpg">
      <div class="titleleft">
       <span class="title1">线上活动……</span>
       <span class="more">(<a href="">更多</a>)</span>
      </div>
      <div class="right-table">
       <ul>
        <li>
         <a href="">午後的一張相片</a><br>
         <span class="libr">时间：11月30日 - 1月30日<br>581人参加</span>
        </li>
        <li>
         <a href="">来一句王家卫式的话</a><br>
         <span class="libr">时间：1月2日 - 3月23日<br>310人参加</span>
        </li>
        <li>
         <a href="">【征集】用一张照片，回忆你的2016</a><br>
         <span class="libr">时间：1月4日 - 3月5日<br>182人参加</span>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="content2">
     <div class="main-all">
      <div class="main-all-body">
       <div class="titleleft">
        <span class="title1">正在热映……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
       <div class="two">
        <div class="movie">
         <a class="view" href=""><img src="/images/p2408209766.jpg" /></a><br>
         <span class="moviename"><a href="">太空旅客</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 6.8</span><br>
         <a class="buy" href="">选座购票</a>
        </div>
        <div class="movie">
         <a class="view" href=""><img src="/images/p2409022364.jpg" /></a><br>
         <span class="moviename"><a href="">情圣</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 6.3</span><br>
         <a class="buy" href="">选座购票</a>
        </div>
        <div class="movie">
         <a class="view" href=""><img src="/images/p2403049086.jpg" /></a><br>
         <span class="moviename"><a href="">星球大战外传：侠盗一号 Rogue One: A Star Wars Story (2016)</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 7.4</span><br>
         <a class="buy" href="">选座购票</a>
        </div>
        <div class="movie">
         <a class="view" href=""><img src="/images/p2408893200.jpg" /></a><br>
         <span class="moviename"><a href="">大卫贝肯之倒霉特工熊 (2017)</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 4.6</span><br>
         <a class="buy" href="">选座购票</a>
        </div>
       </div>
       <div class="two">
        <div class="movie">
         <a class="view" href=""><img src="/images/p2408209766.jpg" /></a><br>
         <span class="moviename"><a href="">太空旅客</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 6.8</span><br>
         <a class="buy" href="">选座购票</a>
        </div>
        <div class="movie">
         <a class="view" href=""><img src="/images/p2409022364.jpg" /></a><br>
         <span class="moviename"><a href="">情圣</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 6.3</span><br>
         <a class="buy" href="">选座购票</a>
        </div>
        <div class="movie">
         <a class="view" href=""><img src="/images/p2403049086.jpg" /></a><br>
         <span class="moviename"><a href="">星球大战外传：侠盗一号 Rogue One: A Star Wars Story (2016)</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 7.4</span><br>
         <a class="buy" href="">选座购票</a>
        </div>
        <div class="movie">
         <a class="view" href=""><img src="/images/p2408893200.jpg" /></a><br>
         <span class="moviename"><a href="">大卫贝肯之倒霉特工熊 (2017)</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 4.6</span><br>
         <a class="buy" href="">选座购票</a>
        </div>
       </div>
      </div>
     </div>
     <div class="left-all">
      <ul>
       <li><a href="">电影</a></li>
       <li><a href="">影讯&购票</a></li>
       <li><a href="">选电影</a></li>
       <li><a href="">电视剧</a></li>
       <li><a href="">排行榜</a></li>
       <li><a href="">分类</a></li>
       <li><a href="">影评</a></li>
       <li><a href="">预告片</a></li>
       <li><a href="">问答</a></li>
      </ul>
     </div>
     <div class="right-all">
      <div class="titleleft">
        <span class="title1">影片分类……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
       <div class="classify">
        <table>
         <tr>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
         </tr>
         <tr>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
         </tr>
         <tr>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
         </tr>
         <tr>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
         </tr>
         <tr>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
          <td><a href="">爱情</a></td>
         </tr>
         <tr>
          <td><a href="">台湾</a></td>
          <td><a href="">中国大陆</a></td>
          <td><a href="">德国</a></td>
         </tr>
        </table>
       </div>
       <div class="titleleft">
        <span class="title1">近期热门……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
       <div class="hot">
        <ol type="1">
         <li><a href="">驴得水</a></li>
         <li><a href="">28岁未成年</a></li>
         <li><a href="">夜行动物</a></li>
         <li><a href="">无名女尸</a></li>
         <li><a href="">萨利机长</a></li>
         <li><a href="">中邪</a></li>
         <li><a href="">湄公河行动</a></li>
         <li><a href="">总有一天</a></li>
         <li><a href="">大叔的爱</a></li>
         <li><a href="">会计刺客</a></li>
        </ol>
       </div>
     </div>
     <a id="ad" href=""><img src="/images/af33d107c69b9c5.jpg" /></a>
    </div>
    <div class="content3">
     <div class="main-all">
      <div class="main-all-body">
       <div class="titleleft">
        <span class="title1">热门小组……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
       <div class="group">
        <ul>
         <li>
          <a href=""><img src="/images/g10469-6.jpg" /></a>
          <div class="wordexplain">
           <a href="">生活·读书·新知</a><br>
           <span>116463 个成员</span>
          </div>
         </li>
         <li>
          <a href=""><img src="/images/g10469-6.jpg" /></a>
          <div class="wordexplain">
           <a href="">生活·读书·新知</a><br>
           <span>116463 个成员</span>
          </div>
         </li>
         <li>
          <a href=""><img src="/images/g10469-6.jpg" /></a>
          <div class="wordexplain">
           <a href="">生活·读书·新知</a><br>
           <span>116463 个成员</span>
          </div>
         </li>
         <li>
          <a href=""><img src="/images/g10469-6.jpg" /></a>
          <div class="wordexplain">
           <a href="">生活·读书·新知</a><br>
           <span>116463 个成员</span>
          </div>
         </li>
         <li>
          <a href=""><img src="/images/g10469-6.jpg" /></a>
          <div class="wordexplain">
           <a href="">生活·读书·新知</a><br>
           <span>116463 个成员</span>
          </div>
         </li>
         <li>
          <a href=""><img src="/images/g10469-6.jpg" /></a>
          <div class="wordexplain">
           <a href="">生活·读书·新知</a><br>
           <span>116463 个成员</span>
          </div>
         </li>
        </ul>
       </div>
       <div class="group">
        <ul>
         <li>
          <a href=""><img src="/images/g10469-6.jpg" /></a>
          <div class="wordexplain">
           <a href="">生活·读书·新知</a><br>
           <span>116463 个成员</span>
          </div>
         </li>
         <li>
          <a href=""><img src="/images/g10469-6.jpg" /></a>
          <div class="wordexplain">
           <a href="">生活·读书·新知</a><br>
           <span>116463 个成员</span>
          </div>
         </li>
         <li>
          <a href=""><img src="/images/g10469-6.jpg" /></a>
          <div class="wordexplain">
           <a href="">生活·读书·新知</a><br>
           <span>116463 个成员</span>
          </div>
         </li>
         <li>
          <a href=""><img src="/images/g10469-6.jpg" /></a>
          <div class="wordexplain">
           <a href="">生活·读书·新知</a><br>
           <span>116463 个成员</span>
          </div>
         </li>
         <li>
          <a href=""><img src="/images/g10469-6.jpg" /></a>
          <div class="wordexplain">
           <a href="">生活·读书·新知</a><br>
           <span>116463 个成员</span>
          </div>
         </li>
         <li>
          <a href=""><img src="/images/g10469-6.jpg" /></a>
          <div class="wordexplain">
           <a href="">生活·读书·新知</a><br>
           <span>116463 个成员</span>
          </div>
         </li>
        </ul>
       </div>
      </div>
     </div>
     <div class="left-all">
      <ul id="group">
       <li><a href="">小组</a></li>
       <li><a href="">精选</a></li>
       <li><a href="">文化</a></li>
       <li><a href="">行摄</a></li>
       <li><a href="">娱乐</a></li>
       <li><a href="">时尚</a></li>
       <li><a href="">生活</a></li>
       <li><a href="">科技</a></li>
      </ul>
     </div>
     <div class="right-all">
      <div class="titleleft">
       <span class="title1">小组分类……</span>
       <span class="more">(<a href="">更多</a>)</span>
      </div>
      <div class="manytable">
       <table class="intresting">
       <caption><a href="">兴趣»</a></caption>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
      </table>
      <table class="intresting">
       <caption><a href="">兴趣»</a></caption>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
      </table>
      <table class="intresting">
       <caption><a href="">兴趣»</a></caption>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
      </table>
      <table class="intresting">
       <caption><a href="">兴趣»</a></caption>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
      </table>
      <table class="intresting">
       <caption><a href="">兴趣»</a></caption>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
      </table>
      <table class="intresting">
       <caption><a href="">兴趣»</a></caption>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
      </table>
      <table class="intresting">
       <caption><a href="">兴趣»</a></caption>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
      </table>
      <table class="intresting">
       <caption><a href="">兴趣»</a></caption>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
      </table>
      </div>
     </div>
    </div>
    <div class="content2">
     <div class="main-all">
      <div class="main-all-body">
       <div class="titleleft">
        <span class="title1">新书速递……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
       <div class="two">
        <div class="movie">
         <a class="view" href=""><img src="/images/s29219047.jpg" /></a><br>
         <span id="bookname" class="moviename"><a href="">大烈</a></span><br>
         <span id="author" class="grade">胡迁</span><br>
         <a id="readfree" class="buy" href="">免费试读</a>
        </div>
        <div class="movie">
         <a class="view" href=""><img src="/images/s29264220.jpg" /></a><br>
         <span id="bookname" class="moviename"><a href="">猫城记</a></span><br>
         <span id="author" class="grade">老舍</span><br>
         <a id="readfree" class="buy" href="">免费试读</a>
        </div>
        <div class="movie">
         <a class="view" href=""><img src="/images/s29101430.jpg" /></a><br>
         <span id="bookname" class="moviename"><a href="">红色</a></span><br>
         <span id="author" class="grade">徐兵 等</span><br>
         <a id="readfree" class="buy" href="">免费试读</a>
        </div>
        <div class="movie">
         <a class="view" href=""><img src="/images/s29247186.jpg" /></a><br>
         <span id="bookname" class="moviename"><a href="">青鸟故事集</a></span><br>
         <span id="author" class="grade">李敬泽</span><br>
         <a id="readfree" class="buy" href="">免费试读</a>
        </div>
       </div>
       <div class="titleleft">
        <span class="title1">原创数字作品……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
       <div id="nomargin" class="two">
        <div class="movie">
         <a class="view" href=""><img src="/images/28840655.jpg" /></a><br>
         <span id="bookname" class="moviename"><a href="">颤抖的叶子</a></span><br>
         <span id="author" class="grade">〔英〕毛姆</span><br>
         <span class="money">5.99元</span><br>
         <a id="readfree" class="buy" href="">免费试读</a>
        </div>
        <div class="movie">
         <a class="view" href=""><img src="/images/839456.jpg" /></a><br>
         <span id="bookname" class="moviename"><a href="">光明战士手册</a></span><br>
         <span id="author" class="grade">〔巴西〕保罗·柯艾略</span><br>
         <span class="money">2.99元</span><br>
         <a id="readfree" class="buy" href="">免费试读</a>
        </div>
        <div class="movie">
         <a class="view" href=""><img src="/images/2799676.jpg" /></a><br>
         <span id="bookname" class="moviename"><a href="">爱之罪</a></span><br>
         <span id="author" class="grade">孙未</span><br>
         <span class="money">3.99元</span><br>
         <a id="readfree" class="buy" href="">免费试读</a>
        </div>
        <div class="movie">
         <a class="view" href=""><img src="/images/14872096.jpg" /></a><br>
         <span id="bookname" class="moviename"><a href="">白事会</a></span><br>
         <span id="author" class="grade">自然</span><br>
         <span class="money">1.99元</span><br>
         <a id="readfree" class="buy" href="">免费试读</a>
        </div>
       </div>
      </div>
     </div>
     <div class="left-all">
      <ul id="read">
       <li><a href="">读书</a></li>
       <li><a href="">分类浏览</a></li>
       <li><a href="">阅读</a></li>
       <li><a href="">作者</a></li>
       <li><a href="">书评</a></li>
       <li><a href="">购书单</a></li>
      <div class="pichref">
       <a href=""><img src="/images/yuedu.jpg"/></a><br>
       <span><a href="">豆瓣阅读</a></span>
      </div>
     </div>
     <div class="right-all">
      <div class="titleleft">
       <span class="title1">热门标签……</span>
       <span class="more">(<a href="">更多</a>)</span>
      </div>
      <div class="hottag">
       <table>
        <tr>
         <td>[文学]</td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
        </tr>
        <tr>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
        </tr>
       </table>
      </div>
      <div class="hottag">
       <table>
        <tr>
         <td>[文学]</td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
        </tr>
        <tr>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
        </tr>
       </table>
      </div>
      <div class="hottag">
       <table>
        <tr>
         <td>[文学]</td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
        </tr>
        <tr>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
        </tr>
       </table>
      </div>
      <div class="hottag">
       <table>
        <tr>
         <td>[文学]</td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
        </tr>
        <tr>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
        </tr>
       </table>
      </div>
      <div class="hottag">
       <table>
        <tr>
         <td>[文学]</td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
        </tr>
        <tr>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
        </tr>
       </table>
      </div>
      <div class="hottag">
       <table>
        <tr>
         <td>[文学]</td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
        </tr>
        <tr>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
         <td><a href="">小说</a></td>
        </tr>
       </table>
      </div>
     </div>
    </div>
    <div class="content3">
     <div class="main-all">
      <div class="main-all-body">
       <div class="titleleft">
        <span class="title1">豆瓣新碟榜……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
       <div class="two">
        <div class="movie">
         <a id="musicpic" class="view" href=""><img src="/images/s29232368.jpg" /></a><br>
         <span id="musicname" class="moviename">1. <a href="">无法长大</a></span><br>
         <span id="musicauthor" class="moviename"><a href="">赵雷</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 8.4</span><br>
        </div>
        <div class="movie">
         <a id="musicpic" class="view" href=""><img src="/images/s29245350.jpg" /></a><br>
         <span id="musicname" class="moviename">2. <a href="">Xplore</a></span><br>
         <span id="musicauthor" class="moviename"><a href="">鹿晗</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 7.5</span><br>
        </div>
        <div class="movie">
         <a id="musicpic" class="view" href=""><img src="/images/s29141083.jpg" /></a><br>
         <span id="musicname" class="moviename">3. <a href="">今日青年</a></span><br>
         <span id="musicauthor" class="moviename"><a href="">痛仰</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 5.6</span><br>
        </div>
        <div class="movie">
         <a id="musicpic" class="view" href=""><img src="/images/s29234816.jpg" /></a><br>
         <span id="musicname" class="moviename">4. <a href="">钉子花</a></span><br>
         <span id="musicauthor" class="moviename"><a href="">伍佰&China Blue</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 8.6</span><br>
        </div>
       </div>
       <div class="two">
        <div class="movie">
         <a id="musicpic" class="view" href=""><img src="/images/s29144287.jpg" /></a><br>
         <span id="musicname" class="moviename">5. <a href="">I See You</a></span><br>
         <span id="musicauthor" class="moviename"><a href="">The xx</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 7.6</span><br>
        </div>
        <div class="movie">
         <a id="musicpic" class="view" href=""><img src="/images/s29164091.jpg" /></a><br>
         <span id="musicname" class="moviename">6. <a href="">La La Land (Original Motion Picture Soundtrack)</a></span><br>
         <span id="musicauthor" class="moviename"><a href="">Various Artists</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 9.3</span><br>
        </div>
        <div class="movie">
         <a id="musicpic" class="view" href=""><img src="/images/s29212232.jpg" /></a><br>
         <span id="musicname" class="moviename">7. <a href="">BIGBANG MADE THE FULL ALBUM</a></span><br>
         <span id="musicauthor" class="moviename"><a href="">BIGBANG</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 8.8</span><br>
        </div>
        <div class="movie">
         <a id="musicpic" class="view" href=""><img src="/images/s29283427.jpg" /></a><br>
         <span id="musicname" class="moviename">8. <a href="">Ambitions</a></span><br>
         <span id="musicauthor" class="moviename"><a href="">ONE OK ROCK</a></span><br>
         <span class="grade"><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /><img src="/images/star.png"" /> 7.2</span><br>
        </div>
       </div>
       <div class="titleleft">
        <span class="title1">热门歌单……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
       <div class="two">
        <div class="movie">
         <a id="musicpic" class="view" href=""><img src="/images/20170116104326.jpg" /></a><br>
         <span id="author" class="grade">跑步专用嗨起来</span><br>
        </div>
        <div class="movie">
         <a id="musicpic" class="view" href=""><img src="/images/20170116104349.jpg" /></a><br>
         <span id="author" class="grade">法兰西の女声</span><br>
        </div>
        <div class="movie">
         <a id="musicpic" class="view" href=""><img src="/images/20170116104410.jpg" /></a><br>
         <span id="author" class="grade">民谣而已</span><br>
        </div>
        <div class="movie">
         <a id="musicpic" class="view" href=""><img src="/images/20170116104428.jpg" /></a><br>
         <span id="author" class="grade">治愈系温暖的日音第一弹</span><br>
        </div>
       </div>
      </div>
     </div>
     <div class="left-all">
      <ul id="music">
       <li id="musictitle"><a href="">音乐</a></li>
       <li><a href="">音乐人</a></li>
       <li><a href="">金羊毛计划</a></li>
       <li><a href="">专题</a></li>
       <li><a href="">排行榜</a></li>
       <li><a href="">分类浏览</a></li>
       <li><a href="">乐评</a></li>
       <li><a href="">豆瓣FM</a></li>
       <li><a href="">歌单</a></li>
       <li><a href="">阿比鹿2016</a></li>
      <div class="pichref">
       <a href=""><img src="/images/doubanyinyue.jpg"/></a><br>
       <span><a href="">豆瓣FM</a></span>
      </div>
      <div class="pichref">
       <a href=""><img src="/images/doubanFM.jpg"/></a><br>
       <span><a href="">豆瓣音乐人</a></span>
      </div>
     </div>
     <div class="right-all">
      <div class="titleleft">
        <span class="title1">本周流行音乐人……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
      <div id="popular" class="group">
        <ul>
         <li>
          <span class="order">1.</span>
          <a href=""><img class="picture" src="/images/20170116130645.jpg" /></a>
          <div id="musician" class="wordexplain">
           <a href="">声音玩具</a><br>
           <span>流派: 摇滚 Rock</span><br>
           <span>21855人关注</span>
          </div>
         </li>
         <li>
          <span class="order">2.</span>
          <a href=""><img class="picture" src="/images/20170116130713.jpg" /></a>
          <div id="musician" class="wordexplain">
           <a href="">声音玩具</a><br>
           <span>流派: 摇滚 Rock</span><br>
           <span>21855人关注</span>
          </div>
         </li>
         <li>
          <span class="order">3.</span>
          <a href=""><img class="picture" src="/images/20170116130738.jpg" /></a>
          <div id="musician" class="wordexplain">
           <a href="">声音玩具</a><br>
           <span>流派: 摇滚 Rock</span><br>
           <span>21855人关注</span>
          </div>
         </li>
         <li>
          <span class="order">4.</span>
          <a href=""><img class="picture" src="/images/20170116130803.jpg" /></a>
          <div id="musician" class="wordexplain">
           <a href="">声音玩具</a><br>
           <span>流派: 摇滚 Rock</span><br>
           <span>21855人关注</span>
          </div>
         </li>
         <li>
          <span class="order">5.</span>
          <a href=""><img class="picture" src="/images/20170116130829.jpg" /></a>
          <div id="musician" class="wordexplain">
           <a href="">声音玩具</a><br>
           <span>流派: 摇滚 Rock</span><br>
           <span>21855人关注</span>
          </div>
         </li>
        </ul>
       </div>
     </div>
    </div>
    <div class="content2">
     <div class="main-all">
      <div class="main-all-body">
       <div class="titleleft">
        <span class="title1">热门商品……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
       <div class="bigpic">
        <div class="bigpicone">
         <a href=""><img src="/images/p209660 (1).jpg" /></a>
         <div class="picexplain">
          <a href="" title="桌面置物架">桌面置物架</a>
          <span>88.00</span>
         </div>
        </div>
        <div class="bigpicone">
         <a href=""><img src="/images/p377790 (1).jpg" /></a>
         <div class="picexplain">
          <a href="" title="十四行诗 原味台湾手工黑糖茶 175g 红糖姜茶姜母茶生姜冲绳工艺 黑糖原味">十四行诗 原味台湾手工黑糖茶 175g 红糖姜茶姜母茶生姜冲绳工艺 黑糖原味</a>
          <span>88.00</span>
         </div>
        </div>
       </div>
       <div class="smallpic">
        <div class="smallpicone">
         <a href=""><img src="/images/p458880 (1).jpg" /></a><br>
         <span><a href="" title="木马逐风Mazur“三茶六味”牛轧糖礼盒">木马逐风Mazur“三茶六味”牛轧糖礼盒</a></span>
        </div>
        <div class="smallpicone">
         <a href=""><img src="/images/p458880 (1).jpg" /></a><br>
         <span><a href="" title="木马逐风Mazur“三茶六味”牛轧糖礼盒">木马逐风Mazur“三茶六味”牛轧糖礼盒</a></span>
        </div>
        <div class="smallpicone">
         <a href=""><img src="/images/p458880 (1).jpg" /></a><br>
         <span><a href="" title="木马逐风Mazur“三茶六味”牛轧糖礼盒">木马逐风Mazur“三茶六味”牛轧糖礼盒</a></span>
        </div>
        <div class="smallpicone">
         <a href=""><img src="/images/p458880 (1).jpg" /></a><br>
         <span><a href="" title="木马逐风Mazur“三茶六味”牛轧糖礼盒">木马逐风Mazur“三茶六味”牛轧糖礼盒</a></span>
        </div>
       </div>
       <div class="smallpic">
        <div class="smallpicone">
         <a href=""><img src="/images/p458880 (1).jpg" /></a><br>
         <span><a href="" title="木马逐风Mazur“三茶六味”牛轧糖礼盒">木马逐风Mazur“三茶六味”牛轧糖礼盒</a></span>
        </div>
        <div class="smallpicone">
         <a href=""><img src="/images/p458880 (1).jpg" /></a><br>
         <span><a href="" title="木马逐风Mazur“三茶六味”牛轧糖礼盒">木马逐风Mazur“三茶六味”牛轧糖礼盒</a></span>
        </div>
        <div class="smallpicone">
         <a href=""><img src="/images/p458880 (1).jpg" /></a><br>
         <span><a href="" title="木马逐风Mazur“三茶六味”牛轧糖礼盒">木马逐风Mazur“三茶六味”牛轧糖礼盒</a></span>
        </div>
        <div class="smallpicone">
         <a href=""><img src="/images/p458880 (1).jpg" /></a><br>
         <span><a href="" title="木马逐风Mazur“三茶六味”牛轧糖礼盒">木马逐风Mazur“三茶六味”牛轧糖礼盒</a></span>
        </div>
       </div>
      </div>
     </div>
     <div class="left-all">
      <ul id="music">
       <li id="thetitle"><a href="">市集</a></li>
       <li><a href="">美食</a></li>
       <li><a href="">服装</a></li>
       <li><a href="">配饰</a></li>
       <li><a href="">包袋</a></li>
       <li><a href="">鞋靴</a></li>
       <li><a href="">美容护肤</a></li>
       <li><a href="">家居生活</a></li>
      </ul>
     </div>
     <div class="right-all">
      <div class="titleleft">
        <span class="title1">热门店铺……</span>
        <span class="more">(<a href="">更多</a>)</span>
      </div>
      <div class="group">
        <ul id="cusumer">
         <li>
          <a href=""><img src="/images/5f1ed6b928e7434.jpg" /></a>
          <div class="wordexplain">
           <a href="">ERICD官方旗舰店</a><br>
           <span>ERICD原创设计以传统服装制作工艺为主导，结合当下最流行的…</span>
          </div>
         </li>
         <li>
          <a href=""><img src="/images/9d03efbf705887d.jpg" /></a>
          <div class="wordexplain">
           <a href="">PISN</a><br>
           <span>秋冬系列，每周上新，注意关注偶</span>
          </div>
         </li>
         <li>
          <a href=""><img src="/images/169b1b76356f636.jpg" /></a>
          <div class="wordexplain">
           <a href="">Nanaz 家居百货</a><br>
           <span>不用装修，NaNaZ home 也能你家变得更美一些。</span>
          </div>
         </li>
         <li>
          <a href=""><img src="/images/7f37444b0a6a0e2.jpg" /></a>
          <div class="wordexplain">
           <a href="">黄小姐</a><br>
           <span>卖我会穿的打底，做你会爱的姑娘</span>
          </div>
         </li>
        </ul>
       </div>
     </div>
    </div>
    <div class="content3">
     <div class="main-all">
      <div class="main-all-body">
       <div class="titleleft">
        <span class="title1">写真摄影服务……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
       <div class="bigfram">
        <div class="pictureview">
         <a href="">
          <img src="/images/201608151243059536__m" /><br>
          <span>人生海海的明星</span>
         </a>
        </div>
        <div class="pictureview">
         <a href="">
          <img src="/images/201610121617365663__m" /><br>
          <span>健身房日常</span>
         </a>
        </div>
       </div>
       <div class="titleleft">
        <span class="title1">婚纱摄影服务……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
       <div class="bigfram">
        <div class="pictureview">
         <a href="">
          <img src="/images/201609291332268221__m" /><br>
          <span>2016年秋冬限定内景</span>
         </a>
        </div>
        <div class="pictureview">
         <a href="">
          <img src="/images/201610071403363725__m" /><br>
          <span>心目中理想婚纱的样子</span>
         </a>
        </div>
       </div>
       <div class="titleleft">
        <span class="title1">更多……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
      </div>
     </div>
     <div class="left-all">
      <ul id="photo">
       <li id="phototitle"><a href="">一拍一</a></li>
       <li><a href="">婚纱</a></li>
       <li><a href="">写真</a></li>
       <li><a href="">私房</a></li>
       <li><a href="">亲子</a></li>
       <li><a href="">旅拍</a></li>
      </ul>
     </div>
     <div class="right-all">
      <div class="titleleft">
       <span class="title1">标签……</span>
      </div>
      <table id="tag" class="intresting">
       <caption>风格</caption>
       <tr>
        <td><a href="">自然</a></td>
        <td><a href="">复古</a></td>
        <td><a href="">少女</a></td>
        <td><a href="">清新</a></td>
        <td><a href="">日系</a></td>
       </tr>
       <tr>
        <td><a href="">情绪</a></td>
        <td><a href="">女性</a></td>
        <td><a href="">和服</a></td>
        <td><a href="">美女</a></td>
        <td><a href="">夏天</a></td>
       </tr>
      </table>
      <table id="tag" class="intresting">
       <caption>城市</caption>
       <tr>
        <td><a href="">北京</a></td>
        <td><a href="">上海</a></td>
        <td><a href="">武汉</a></td>
        <td><a href="">广州</a></td>
        <td><a href="">成都</a></td>
       </tr>
       <tr>
        <td><a href="">深圳</a></td>
        <td><a href="">厦门</a></td>
        <td><a href="">南京</a></td>
        <td><a href="">杭州</a></td>
        <td><a href="">沈阳</a></td>
       </tr>
       <tr>
        <td><a href="">三亚</a></td>
        <td><a href="">重庆</a></td>
        <td><a href="">青岛</a></td>
        <td><a href="">海口</a></td>
       </tr>
      </table>
      <div class="viewus">
       <span>微信扫一扫, 了解最新拍摄服务:</span><br>
       <img src="/images/ypy_qr.jpg">
      </div>
     </div>
    </div>
    <div class="content2">
     <div class="main-all">
      <div class="main-all-body">
       <div class="titleleft">
        <span class="title1">长沙 · 本周热门活动……</span>
        <span class="more">(<a href="">更多</a>)</span>
       </div>
       <div id="weekhot" class="group">
        <ul>
         <li>
          <a href=""><img class="picture" src="/images/a7cfd51af594ed9.jpg" /></a>
          <div id="weekexplain" class="wordexplain">
           <a href="" title="让生活艺术起来--零基础--素描--彩铅--水彩--油画">让生活艺术起来--零基础--素描--彩铅--水彩--油画</a><br>
           <span>11月15日 周二 - 2月9日 周四</span><br>
           <span>绿地中央广场</span><br>
           <span>24人关注</span>
          </div>
         </li>
         <li>
          <a href=""><img class="picture" src="/images/3b49c88b919ea94.jpg" /></a>
          <div id="weekexplain" class="wordexplain">
           <a href="" title="法国克拉琴演奏家Ballak é Sissoko思索科音乐会—心灵的宁静之旅">法国克拉琴演奏家Ballak é Sissoko思索科音乐会—心灵的宁静之旅
            <span class="sell">正在售票</span>
           </a><br>
           <span>3月24日 周五 00:00 - 22:00</span><br>
           <span>长沙市音乐厅</span><br>
           <span>1人关注</span>
          </div>
         </li>
        </ul>
       </div>
       <div id="weekhot" class="group">
        <ul>
         <li>
          <a href=""><img class="picture" src="/images/a7cfd51af594ed9.jpg" /></a>
          <div id="weekexplain" class="wordexplain">
           <a href="" title="让生活艺术起来--零基础--素描--彩铅--水彩--油画">让生活艺术起来--零基础--素描--彩铅--水彩--油画</a><br>
           <span>11月15日 周二 - 2月9日 周四</span><br>
           <span>绿地中央广场</span><br>
           <span>24人关注</span>
          </div>
         </li>
         <li>
          <a href=""><img class="picture" src="/images/3b49c88b919ea94.jpg" /></a>
          <div id="weekexplain" class="wordexplain">
           <a href="" title="法国克拉琴演奏家Ballak é Sissoko思索科音乐会—心灵的宁静之旅">法国克拉琴演奏家Ballak é Sissoko思索科音乐会—心灵的宁静之旅
            <span class="sell">正在售票</span>
           </a><br>
           <span>3月24日 周五 00:00 - 22:00</span><br>
           <span>长沙市音乐厅</span><br>
           <span>1人关注</span>
          </div>
         </li>
        </ul>
       </div>
      </div>
     </div>
     <div class="left-all">
      <ul id="city">
       <li id="citytitle"><a href="">同城</a></li>
       <li><a href="">近期活动</a></li>
       <li><a href="">主办方</a></li>
       <li><a href="">舞台剧</a></li>
      </ul>
     </div>
     <div class="right-all">
      <div class="titleleft">
        <span class="title1">标签……</span>
      </div>
      <div id="citytag" class="manytable">
       <table class="intresting">
       <caption><a href="">音乐»</a></caption>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
      </table>
      <table class="intresting">
       <caption><a href="">戏剧»</a></caption>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
      </table>
      <table class="intresting">
       <caption><a href="">聚会»</a></caption>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
       <tr>
        <td><a href="">旅行</a></td>
       </tr>
      </table>
      <table class="intresting">
       <caption><a href="">电影»</a></caption>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
      </table>
      <table class="intresting">
       <caption><a href="">其他»</a></caption>
       <tr>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
        <td><a href="">旅行</a></td>
       </tr>
      </table>
      </div>
     </div>
    </div>
    <div class="ad">
     <a href=""><img src="/images/16cb92f816ec454.jpg" /></a>
    </div>
   </div>
   <div class="all-footer">
    <hr>
    <div class="copyright">
     <span>© 2005－2017 douban.com, all rights reserved 北京豆网科技有限公司</span><br>
     <span><a href="">京ICP证090015号 </a>京ICP备11027288号 网络视听许可证<a href="">0110418</a>号</span><br>
     <span>京网文[2015]2026-368号<a href=""> 京公网安备11010502000728</a>新出网证(京)字129号 </span><br>
     <span>违法和不良信息举报电话：4008353331  </span><br>
     <span><a href=""> 中国互联网举报中心</a>电话：12377<a href="">《食品流通许可证》许可证：SP1101051510347287</a></span>
    </div>
   </div>
  </div>
 </body>
</html>