<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="Shortcut Icon" href="/images/ploginimages/doubanlogo.jpg" />
  <link rel="stylesheet" type="text/css" href="/css/phonelogin.css">
  <script type="text/javascript" rel="stylesheet" src="/js/jquery-1.12.2.js"></script>
  <script type="text/javascript" rel="stylesheet" src="/js/phonelogin.js"></script>
  <title>登陆豆瓣</title>
 </head>
 <body>
  <div class="all">
    <div class="header">
     <a href=""><img src="/images/ploginimages/title.png" /></a>
    </div>
    <div class="center">
     <div class="title">
      <h2>登陆帐号</h2>
     </div>
     <div class="content">
      <div class="content-left">
       <a id="phonecode" href="/loginPage">帐号密码登录</a>
       <form method="" action="">
        <div class="info">
         <label>手机号</label>
         <input type="text" name="username">
        </div>
        <div class="info" id="code">
         <label>验证码</label>
         <input class="infocode" type="text" name="code">
         <input class="infosub" type="submit" value="获取验证码">
        </div>
        <div class="sub">
         <input type="submit" name="submit" value="登录">
        </div>
       </form>
      </div>
      <div class="content-right">
       <p>>已经拥有豆瓣帐号?<a href="/getregister">立即注册</a></p>
       ><a href="">点击下载豆瓣移动应用</a>
      </div>
     </div>
    </div>
    <div class="footer">
     <hr>
     <div class="footer-left">
      <p>© 2005－2016 douban.com, all rights reserved</p>
     </div>
     <div class="footer-right">
      <p>
       <a href="">关于豆瓣</a>·
       <a href="">在豆瓣工作</a>·
       <a href="">联系我们</a>·
       <a href="">免责声明</a>·
       <a href="">帮助中心</a>·
       <a href="">开发者</a>·
       <a href="">移动应用</a>·
       <a href="">豆瓣广告</a>
      </p>
     </div>
    </div>
  </div>
 </body>
</html>